In [1]:
import pandas as pd

In [2]:
data_1 = pd.read_csv('Data/DatasetOne.csv')

In [3]:
# Drop columns with only nulls
null_col_bool = [i for i in [data_1.isna().sum() != len(data_1)][0]]
cols_keep = data_1.columns[null_col_bool]
data_1 = data_1.loc[:, cols_keep]

In [4]:
# Drop this columns because all values are zero (these are related to Instagram and Linkedin attributes, and we ont have Instagram or Linknedin data)
cols_drop = [col for col in data_1.select_dtypes(include=['int', 'float']) if data_1[col].sum() == 0]
data_1.drop(columns = cols_drop, inplace=True)

In [5]:
# Drop columns because all entries are 0
0 == data_1['Is Syndicated'].sum() == data_1['Linkedin Sponsored'].sum() == data_1['Starred'].sum() == data_1['Checked'].sum()

# Drop columns becuase they only have one unique value (True for example)
1 == data_1['Total Monthly Visitors'].nunique() == data_1['Content Source'].nunique() == data_1['Content Source Name'].nunique() == data_1['Page Type Name'].nunique() == data_1['Pub Type'].nunique()

True

In [6]:
# Not very useful, same case with Latitude
data_1['Longitude'].value_counts()

 0.000000      447157
-77.036819          3
-87.629005          2
-78.534470          1
-84.772171          1
-75.708061          1
-74.011040          1
-80.546501          1
-87.628670          1
-87.630859          1
-79.926163          1
-121.919281         1
-118.100418         1
-115.148445         1
Name: Longitude, dtype: int64

In [7]:
# Non useful columns 
non_useful_cols = ['Avatar', 'Latitude', 'Longitude', 'Total Monthly Visitors', 'Content Source', 'Is Syndicated', 'Linkedin Sponsored', 'Starred', 'Content Source Name', 'Page Type Name', 'Pub Type', 'Checked']
data_1.drop(columns = non_useful_cols, inplace=True)

In [8]:
data_2 = pd.read_csv('Data/DatasetTwo.csv')
data_2 = data_2.loc[:, cols_keep]
data_2.drop(columns = cols_drop, inplace=True)
data_2.drop(columns = non_useful_cols, inplace=True)

In [9]:
# Final columns kept
data_1.columns

Index(['Query Id', 'Query Name', 'Date', 'Title', 'Url', 'Domain', 'Sentiment',
       'Page Type', 'Language', 'Country Code', 'Continent Code', 'Continent',
       'Country', 'City Code', 'Account Type', 'Added', 'Author', 'City',
       'Entity Info', 'Expanded URLs', 'Full Name', 'Full Text', 'Gender',
       'Hashtags', 'Impact', 'Impressions', 'Interest', 'Location Name',
       'Media URLs', 'Mentioned Authors', 'Original Url', 'Professions',
       'Resource Id', 'Short URLs', 'Thread Author', 'Thread Created Date',
       'Thread Entry Type', 'Thread Id', 'Twitter Author ID',
       'Twitter Followers', 'Twitter Following', 'Twitter Reply Count',
       'Twitter Reply to', 'Twitter Retweet of', 'Twitter Retweets',
       'Twitter Likes', 'Twitter Tweets', 'Twitter Verified', 'Updated',
       'Reach (new)', 'Engagement Type', 'Region', 'Region Code',
       'Weblog Title'],
      dtype='object')

In [10]:
data_2.columns

Index(['Query Id', 'Query Name', 'Date', 'Title', 'Url', 'Domain', 'Sentiment',
       'Page Type', 'Language', 'Country Code', 'Continent Code', 'Continent',
       'Country', 'City Code', 'Account Type', 'Added', 'Author', 'City',
       'Entity Info', 'Expanded URLs', 'Full Name', 'Full Text', 'Gender',
       'Hashtags', 'Impact', 'Impressions', 'Interest', 'Location Name',
       'Media URLs', 'Mentioned Authors', 'Original Url', 'Professions',
       'Resource Id', 'Short URLs', 'Thread Author', 'Thread Created Date',
       'Thread Entry Type', 'Thread Id', 'Twitter Author ID',
       'Twitter Followers', 'Twitter Following', 'Twitter Reply Count',
       'Twitter Reply to', 'Twitter Retweet of', 'Twitter Retweets',
       'Twitter Likes', 'Twitter Tweets', 'Twitter Verified', 'Updated',
       'Reach (new)', 'Engagement Type', 'Region', 'Region Code',
       'Weblog Title'],
      dtype='object')

In [11]:
data_1['Professions'].value_counts()

{profession=Artist, jobTitle=Artist}                                                                                                                                    3348
{profession=Teacher & Lecturer, jobTitle=Teacher}                                                                                                                       2398
{profession=Executive, jobTitle=Owner}                                                                                                                                  1704
{profession=Health practitioner, jobTitle=Vet}                                                                                                                          1669
{profession=Executive, jobTitle=President}                                                                                                                              1536
                                                                                                                                                                        ...
{profession=Artist, jobTitle=Photographer}, {profession=Artist, jobTitle=Urban Planner}                                                                                    1
{profession=Artist, jobTitle=Songwriter}, {profession=Teacher & Lecturer, jobTitle=Teacher}                                                                                1
{profession=Artist, jobTitle=Composer}, {profession=Journalist, jobTitle=Editor}, {profession=Executive, jobTitle=Founder}, {profession=Artist, jobTitle=Songwriter}       1
{profession=Health practitioner, jobTitle=Counselor}, {profession=Health practitioner, jobTitle=Psychoanalyst}                                                             1
{profession=Artist, jobTitle=Artist}, {profession=Scientist & Researcher, jobTitle=Neuroscientist}                                                                         1
Name: Professions, Length: 3592, dtype: int64

In [12]:
data_1['Engagement Type'].value_counts().sum()

422985

In [13]:
data_1.Title.duplicated().sum()

391422

In [14]:
len(data_1) - data_1.Title.duplicated().sum()

55751

In [15]:
data_1['Twitter Verified'].value_counts()

False    439974
True       7199
Name: Twitter Verified, dtype: int64

In [16]:
data_1.groupby('Twitter Verified')['Twitter Retweets'].sum()

Twitter Verified
False    226703
True     206244
Name: Twitter Retweets, dtype: int64

In [17]:
data_2.Title[data_2.Title.duplicated()]

12        RT @nicksortor 🚨 #BREAKING: The State of Ohio ...
16        RT @OccupyDemocrats BREAKING: The state of Ohi...
17        RT @ACTBrigitte Immediately after the train cr...
27        RT @CTVNews Ohio sues Norfolk Southern over to...
29        RT @TristanSnell Get rid of train safety rules...
                                ...
366925    RT @bennyjohnson Has Joe Biden said anything a...
366926    RT @CRRJA5 Ohio Chernobyl 🥵and we haven’t hear...
366927    RT @CL4WS_OUT This video shows a fiery axle on...
366928    RT @KanekoaTheGreat THREAD: Photos, videos, an...
366929    RT @prem_thakker I spoke with the people of Ea...
Name: Title, Length: 310497, dtype: object

In [18]:
# tweets from data_1 and data_2
data_3 = pd.concat([data_2, data_1])

In [19]:
len(data_3), data_3.Title.duplicated().sum(), data_3['Query Id'].duplicated().sum()

(814103, 753791, 814102)

In [20]:
data_3.columns

Index(['Query Id', 'Query Name', 'Date', 'Title', 'Url', 'Domain', 'Sentiment',
       'Page Type', 'Language', 'Country Code', 'Continent Code', 'Continent',
       'Country', 'City Code', 'Account Type', 'Added', 'Author', 'City',
       'Entity Info', 'Expanded URLs', 'Full Name', 'Full Text', 'Gender',
       'Hashtags', 'Impact', 'Impressions', 'Interest', 'Location Name',
       'Media URLs', 'Mentioned Authors', 'Original Url', 'Professions',
       'Resource Id', 'Short URLs', 'Thread Author', 'Thread Created Date',
       'Thread Entry Type', 'Thread Id', 'Twitter Author ID',
       'Twitter Followers', 'Twitter Following', 'Twitter Reply Count',
       'Twitter Reply to', 'Twitter Retweet of', 'Twitter Retweets',
       'Twitter Likes', 'Twitter Tweets', 'Twitter Verified', 'Updated',
       'Reach (new)', 'Engagement Type', 'Region', 'Region Code',
       'Weblog Title'],
      dtype='object')

In [21]:
data_3.drop_duplicates(inplace=True)

In [22]:
data_3.drop_duplicates(subset = ['Title'], inplace=True)

In [23]:
len(data_3)

60312

In [24]:
data_3['Engagement Type'].value_counts(dropna=False)

NaN        26329
RETWEET    20744
REPLY      10670
QUOTE       2569
Name: Engagement Type, dtype: int64

In [25]:
(data_3['Twitter Verified'] == True).sum()

5111

In [26]:
data_3['Author'][data_3['Twitter Verified'] == True]

24             WashTimes
28             dansewell
33                  ksbw
35        SenJeffMerkley
47               CTVNews
               ...
444234    JordanChariton
446547           FoxNews
446934     MorePerfectUS
446939    JosephWulfsohn
446958     microsoftnews
Name: Author, Length: 5111, dtype: object

In [27]:
(data_3['Professions'][data_3['Twitter Verified'] == True].iloc[1])

'{profession=Journalist, jobTitle=Editor}, {profession=Teacher & Lecturer, jobTitle=Teacher}'

In [28]:
import numpy as np

In [29]:
data_3['Professions'][data_3['Twitter Verified'] == True].apply(lambda x: 0 if x is np.nan else x)
# journalist

24                                                        0
28        {profession=Journalist, jobTitle=Editor}, {pro...
33                                                        0
35                {profession=Politician, jobTitle=Senator}
47                                                        0
                                ...
444234         {profession=Journalist, jobTitle=Journalist}
446547                                                    0
446934                                                    0
446939           {profession=Journalist, jobTitle=Reporter}
446958                                                    0
Name: Professions, Length: 5111, dtype: object

In [30]:
# Organizations accounts do not have professions, so we cannot use that to get news media organizations
data_3['Professions'][(data_3['Account Type'] == 'organisational') & (data_3['Twitter Verified'] == True)].isna().value_counts(normalize=True)

True     0.996638
False    0.003362
Name: Professions, dtype: float64

In [31]:
potential_news_org = [i for i in data_3['Author'][(data_3['Account Type'] == 'organisational') & (data_3['Twitter Verified'] == True)].value_counts().index]

## To do
Create a list of media accounts to match with the other data set

In [32]:
individual_verified = [i for i in data_3['Author'][(data_3['Account Type'] == 'individual') & (data_3['Twitter Verified'] == True)].value_counts().index]

In [33]:
import re
count = 0
news_org_list = []
check_by_hand = []
pattern = re.compile(r'news|abc|cnn|cbs|reuters|AP|times|fox|post|nbc|cnbc|bloomberg|gazette|hours|politico|cspan|politics|msn|journal|Tribune|daily|wsj|yahoo|tv|sun|time|radio|chronicle|herald|today', re.IGNORECASE) 
for item in potential_news_org:
    if pattern.search(item):
        news_org_list.append(item)
    else:
        check_by_hand.append(item)

In [34]:
# MK NEWS ACCOUNTS
mk_news_org = pd.read_csv('MK/news_accounts_dataset3.csv')
mk_news_org = mk_news_org.SENDER.to_list()

In [35]:
news_orgs_list2 = []
check_by_hand_2 = []
for account in check_by_hand:
    if account in mk_news_org:
      news_orgs_list2.append(account)
    else:
       check_by_hand_2.append(account)

In [36]:
political = []
check_by_hand_3 = []
pattern = re.compile(r'GOP|Gov|Senate|Senator|Rep', re.IGNORECASE) 
for item in check_by_hand_2:
    if pattern.search(item):
        political.append(item)
    else:
        check_by_hand_3.append(item)

In [37]:
political + ['RudyGiuliani', 'USDOT', 'ChineseEmbinHU', 'TeamCavuto', 'TheDemCoalition', 'Ohio_OCJS', 'SenSchumer', 'FEMAregion3', 'EPAregion3', 'FDA_ORA']
activists = ['PghProtests', 'CleanAirMoms', 'POGOwatchdog', 'genzforchange', 'PatrioticMills', 'TheUSASingers', 'OhioFarmBureau', 'gofundme', 'RevJJackson', 'AAF']
other = ['RedCross', 'scifri', 'AmChemistry', 'RedCrossNOH', 'GoyaFoods']

In [38]:
news_orgs_list3 = [i for i in check_by_hand_3 if i not in (political + activists + other)]

In [39]:
news_org = news_org_list + news_orgs_list2 + news_orgs_list3

In [40]:
news_org = list(set(news_org))

In [41]:
# Now, from all other accounts (non organizational , verified):

In [42]:
individual_verified = [i for i in data_3['Author'][(data_3['Account Type'] == 'individual') & (data_3['Twitter Verified'] == True)].value_counts().index]

In [43]:
len(individual_verified)

1266

In [44]:
individual_verified = [i for i in individual_verified if i not in (news_org + political + activists + other)]

In [45]:
import re
count = 0
news_ind_list = []
check_by_hand_ind = []
pattern = re.compile(r'news|abc|cnn|cbs|reuters|AP|times|fox|post|nbc|cnbc|bloomberg|chron|gazette|hours|politico|cspan|politics|msn|journal|Tribune|daily|wsj|yahoo|tv|sun|time|radio|chronicle|herald|today', re.IGNORECASE) 
for item in individual_verified:
    if pattern.search(item):
        news_ind_list.append(item)
    else:
        check_by_hand_ind.append(item)

In [46]:
len(news_ind_list)

214

In [47]:
news = news_org + news_ind_list

In [48]:
len(check_by_hand_ind)

1052

In [49]:
political_ind = []
check_by_hand_ind2 = []
pattern = re.compile(r'GOP|Gov|Senate|Senator|Rep|Sen|EPA', re.IGNORECASE) 
for item in check_by_hand_ind:
    if pattern.search(item):
        political_ind.append(item)
    else:
        check_by_hand_ind2.append(item)

In [50]:
len(political_ind)

66

In [51]:
politics = political + political_ind

In [52]:
# Here, Im reading MK classification final!!
MK_byhand = pd.read_csv('check_by_hand_cleanMK.csv')

In [53]:
MK_byhand.set_index('check_by_hand_ind2', inplace=True)

In [54]:
MK_byhand.fillna(0, inplace=True)
news_org_additional = MK_byhand.query('news == 1').index.to_list()
government_additional = MK_byhand.query('political == 1').index.to_list()

In [55]:
# news_org_additional

In [63]:
# I am having a hard time classifying these guys: these are verified individual accounts, some are media, some are journalists (so, also media), but some are politicians, some are people
# check_by_hand_ind2

In [57]:
len(check_by_hand_ind2)

986

In [58]:
check_by_hand_ind3 = [i for i in check_by_hand_ind2 if i not in (news_org_additional+government_additional)]
len(check_by_hand_ind3)

896

In [59]:
people = ['RobertKennedyJr', '_SemaHernandez_', 'CatoInstitute', 'ColMorrisDavis', 'mrtgr', 'LindseyBoylan', 'AJPennyfarthing', 'DrEricDing', 'mattkbh', 'AlBernstein', 'lootpress', 'DinahVP', 'iskandrah'\
          '_Zeets', 'vickorano', 'addedvalueth', 'IBDinvestors', 'SierraClub', 'StephenJ_Caruso', 'djrelentt', 'ErickFernandez', 'ceciliakcecilia', 'michaelmalice', 'court_bennett11'\
            'MsAConner', 'BrookingsEcon', 'MeredithLClark', 'drdavidmichaels', 'AWCities', 'laurenpeikoff', 'WajahatAli', 'MarkRuffalo', 'NewEconomics', 'EricMGarcia', 'GooRee']
political = ['TPPatriots', 'PalimenoForGAD1', 'ForTexasHoujami', 'ProgressOhio', 'mh4oh', 'ElectMattDolan', 'Mike_Pence', 'Heritage', 'NorthCarolinaGP', 'HCEMA', 'MaxMillerOH', 'DaveYostOH', 'Miller_Congress'\
             'NewDemCoalition', 'DebbieLesko', 'ElissaSlotkin', 'PADEPSecretary', 'BriannaForCO', 'MikeStuartWV', 'justin4all2', 'voteSmitherman', 'CongressmanRaja', 'jessicalbenham'\
              'AlexPadilla4CA', 'RedState', 'DemSocialists', 'JaredEMoskowitz']
journalists = [i for i in check_by_hand_ind3 if i not in (people + political)]

In [55]:
pd.DataFrame(news, columns = ['news_accounts']).to_csv('news_accounts.csv', index = False)
pd.DataFrame(politics, columns = ['politics_accounts']).to_csv('govt_accounts.csv', index = False)
pd.DataFrame(activists, columns = ['activists_accounts']).to_csv('activists_accounts.csv', index = False)
pd.DataFrame(other, columns = ['other_accounts']).to_csv('other_accounts.csv', index = False)
# These are accounts missing classification: these are individual verified accounts, at first glance: some are media, some are journalists 
# so, also media), but some are politicians, some are people...
pd.DataFrame(check_by_hand_ind2, columns = ['check_by_hand_ind2']).to_csv('check_by_hand_ind2.csv', index = False)

In [60]:
news_final = news + news_org_additional + journalists
government_final = politics + government_additional + political
people_final = people + activists + other

In [62]:
# De las verificadas mias y de las es media de mahrukh. Todo lo demas es gente
len(news_final), len(government_final), len(people_final)

(1821, 119, 48)

In [63]:
data_3.columns

Index(['Query Id', 'Query Name', 'Date', 'Title', 'Url', 'Domain', 'Sentiment',
       'Page Type', 'Language', 'Country Code', 'Continent Code', 'Continent',
       'Country', 'City Code', 'Account Type', 'Added', 'Author', 'City',
       'Entity Info', 'Expanded URLs', 'Full Name', 'Full Text', 'Gender',
       'Hashtags', 'Impact', 'Impressions', 'Interest', 'Location Name',
       'Media URLs', 'Mentioned Authors', 'Original Url', 'Professions',
       'Resource Id', 'Short URLs', 'Thread Author', 'Thread Created Date',
       'Thread Entry Type', 'Thread Id', 'Twitter Author ID',
       'Twitter Followers', 'Twitter Following', 'Twitter Reply Count',
       'Twitter Reply to', 'Twitter Retweet of', 'Twitter Retweets',
       'Twitter Likes', 'Twitter Tweets', 'Twitter Verified', 'Updated',
       'Reach (new)', 'Engagement Type', 'Region', 'Region Code',
       'Weblog Title'],
      dtype='object')

# parsing MK dataset

In [66]:
tweet = pd.read_csv('Data/Tweet.csv')
agent = pd.read_csv('Data/Agent.csv')
hashtag = pd.read_csv('Data/Hashtag.csv')
url = pd.read_csv('Data/Url.csv')
agent.rename(columns = {'Node Label' : 'Sender'}, inplace=True)
tweet_agent = pd.merge(tweet, agent, on=['Sender'])
tweet_agent[['Date', 'Time']] = tweet_agent['DATE'].str.split(' ', 1, expand=True)
tweet_agent.drop(columns=['Language_y','Location','DATE'], inplace = True)
tweet_agent.rename(columns={'Node ID_x' : 'TWEET_ID', 
                            'Node ID_y' : 'AGENT_ID', 
                            'Language_x' : 'LANGUAGE',
                            'conversation_id' : 'CONVERSATION_ID',
                            'Latitude' : 'LATITUDE',
                            'Longitude' : 'LONGITUDE',
                            'Sender' : 'SENDER',
                            'Date' : 'DATE',
                            'Time' : 'TIME'
                            }, inplace=True)
tweet_agent['IS_RETWEET'] = tweet_agent['IS_RETWEET'].fillna(0)
tweet_agent['HAS_URL'] = tweet_agent['HAS_URL'].fillna(0)
tweet_agent['IS_REPLY'] = tweet_agent['IS_REPLY'].fillna(0)
tweet_agent['IS_IN_REPLY_TO'] = tweet_agent['IS_IN_REPLY_TO'].fillna(0)
tweet_agent['IS_QUOTE'] = tweet_agent['IS_QUOTE'].fillna(0)
tweet_agent['IS_GEOTAGGED'] = tweet_agent['IS_GEOTAGGED'].fillna(0)
tweet_agent['IS_NEWS_AGENCY'] = tweet_agent['IS_NEWS_AGENCY'].fillna(0)
tweets_data = tweet_agent[tweet_agent.columns.difference(['CONVERSATION_ID','IS_GEOTAGGED','LATITUDE','LONGITUDE','AGENT_ID'])]

/var/folders/yv/9jkc42cj01gb_08dbbq9fcnw0000gn/T/ipykernel_67692/646333807.py:7: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  tweet_agent[['Date', 'Time']] = tweet_agent['DATE'].str.split(' ', 1, expand=True)

In [72]:
tweets_data.MESSAGE.duplicated().sum() / len(tweets_data)

0.7729956985588957

In [73]:
data_3.columns

Index(['Query Id', 'Query Name', 'Date', 'Title', 'Url', 'Domain', 'Sentiment',
       'Page Type', 'Language', 'Country Code', 'Continent Code', 'Continent',
       'Country', 'City Code', 'Account Type', 'Added', 'Author', 'City',
       'Entity Info', 'Expanded URLs', 'Full Name', 'Full Text', 'Gender',
       'Hashtags', 'Impact', 'Impressions', 'Interest', 'Location Name',
       'Media URLs', 'Mentioned Authors', 'Original Url', 'Professions',
       'Resource Id', 'Short URLs', 'Thread Author', 'Thread Created Date',
       'Thread Entry Type', 'Thread Id', 'Twitter Author ID',
       'Twitter Followers', 'Twitter Following', 'Twitter Reply Count',
       'Twitter Reply to', 'Twitter Retweet of', 'Twitter Retweets',
       'Twitter Likes', 'Twitter Tweets', 'Twitter Verified', 'Updated',
       'Reach (new)', 'Engagement Type', 'Region', 'Region Code',
       'Weblog Title'],
      dtype='object')

In [ ]:
drop_from_dataset3 = ['Query Id', 'Query Name', 'Url', 'Domain', 'Page Type', 'Language', 'Continent Code', 'Continent',
       'Country', 'City Code', 'Added'

In [ ]:
drop_to_merge = ['Account Type', 'Sentiment', ]

In [ ]:
# Rename
{'Author' :  'SENDER'}

In [92]:
data_3['Author'].value_counts(dropna = False)

tinfoilted1        195
DonovanLawTampa    191
Cat_In_A_Bag230    142
argo_times          77
WKBN                69
                  ...
slimhiney            1
TheBigJack68         1
MediaEqualizer       1
D_E_Wiley            1
b_lott24             1
Name: Author, Length: 39780, dtype: int64

In [74]:
tweets_data.columns

Index(['DATE', 'HAS_URL', 'IS_IN_REPLY_TO', 'IS_NEWS_AGENCY', 'IS_QUOTE',
       'IS_REPLY', 'IS_RETWEET', 'IS_VERIFIED', 'LANGUAGE', 'LOCATION',
       'MESSAGE', 'NUMBER_FOLLOWERS', 'RETWEET_COUNT', 'SENDER', 'TIME',
       'TWEET_COUNT', 'TWEET_ID'],
      dtype='object')

In [88]:
tweets_data.LOCATION

0                     USA
1                     USA
2                     USA
3                     USA
4            New York, NY
               ...
123352                NaN
123406    (City of Trees)
123412                NaN
123413                NaN
123431                NaN
Name: LOCATION, Length: 28023, dtype: object

In [78]:
tweets_data.drop_duplicates(subset = ['MESSAGE'], inplace = True)

/var/folders/yv/9jkc42cj01gb_08dbbq9fcnw0000gn/T/ipykernel_67692/161562069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_data.drop_duplicates(subset = ['MESSAGE'], inplace = True)

In [80]:
len(tweets_data)

28023