### **Tweets from source 3:**

In [476]:
import pandas as pd

In [477]:
tweet = pd.read_csv('Tweet.csv')
agent = pd.read_csv('Agent.csv')
hashtag = pd.read_csv('Hashtag.csv')
url = pd.read_csv('URL.csv')

In [478]:
tweet.head(2)

,Node ID,DATE,IS_RETWEET,RETWEET_COUNT,MESSAGE,Language,conversation_id,HAS_URL,IS_REPLY,IS_IN_REPLY_TO,IS_QUOTE,IS_GEOTAGGED,Latitude,Longitude,Sender,Location
0,1635792903053221889,2023-03-14 23:59:54-04,1.0,51.0,RT @NBCNews: BREAKING: Ohio's attorney general...,en,1.635793e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ricardonotes,USA
1,1635731458026340360,2023-03-14 19:55:44-04,NaN,51.0,BREAKING: Ohio's attorney general sues Norfolk...,en,1.635731e+18,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NBCNews,"New York, NY"

In [479]:
len(tweet)

124678

In [480]:
len(agent)

78798

In [481]:
agent.head(2)

,Node ID,Language,NUMBER_FOLLOWERS,Node Label,IS_VERIFIED,LOCATION,IS_NEWS_AGENCY,TWEET_COUNT
0,2608799046,en,463.0,ricardonotes,0.0,USA,NaN,4
1,25984168,en,2154.0,sweed20,0.0,North Dakota,NaN,2

In [482]:
agent.IS_VERIFIED.value_counts(normalize = False)

0.0    75963
1.0     2681
Name: IS_VERIFIED, dtype: int64

In [483]:
# If there are 2681 tweets from verified and 852 from news org, then the rest are? Politicians (mainly??), Artists
agent.IS_NEWS_AGENCY.value_counts(dropna = False)

NaN    77946
1.0      852
Name: IS_NEWS_AGENCY, dtype: int64

In [484]:
# News organizations, seems like one per tweet.
agent['Node Label'][agent.IS_NEWS_AGENCY == 1]

26        MailOnline
44         AKNewsNow
62         WashTimes
82       DailyCaller
85           CBSNews
            ...
77450            CBC
77529      wikileaks
78184            nbc
78185            CBS
78356      RogReview
Name: Node Label, Length: 852, dtype: object

In [485]:
tweet.MESSAGE.duplicated().sum()

96654

In [486]:
tweet.IS_RETWEET.sum()

100517.0

In [487]:
len(tweet)

124678

In [488]:
tweet.columns

Index(['Node ID', 'DATE', 'IS_RETWEET', 'RETWEET_COUNT', 'MESSAGE', 'Language',
       'conversation_id', 'HAS_URL', 'IS_REPLY', 'IS_IN_REPLY_TO', 'IS_QUOTE',
       'IS_GEOTAGGED', 'Latitude', 'Longitude', 'Sender', 'Location'],
      dtype='object')

In [489]:
agent.columns

Index(['Node ID', 'Language', 'NUMBER_FOLLOWERS', 'Node Label', 'IS_VERIFIED',
       'LOCATION', 'IS_NEWS_AGENCY', 'TWEET_COUNT'],
      dtype='object')

In [490]:
hashtag.columns

Index(['Node ID', 'USAGE_COUNT'], dtype='object')

In [491]:
agent["Node ID"].is_unique

True

In [492]:
tweet['Node ID']

0         1635792903053221889
1         1635731458026340360
2         1635792899928465409
3         1635792836107948032
4         1635792797692297218
                 ...
124673    1629152911274958851
124674    1629152882619518976
124675    1629152998713696258
124676    1626238269485895680
124677    1628516018233679872
Name: Node ID, Length: 124678, dtype: int64

In [493]:
tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124678 entries, 0 to 124677
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Node ID          124678 non-null  int64
 1   DATE             123447 non-null  object
 2   IS_RETWEET       100517 non-null  float64
 3   RETWEET_COUNT    107678 non-null  float64
 4   MESSAGE          123447 non-null  object
 5   Language         123447 non-null  object
 6   conversation_id  123447 non-null  float64
 7   HAS_URL          32951 non-null   float64
 8   IS_REPLY         4296 non-null    float64
 9   IS_IN_REPLY_TO   3734 non-null    float64
 10  IS_QUOTE         813 non-null     float64
 11  IS_GEOTAGGED     28 non-null      float64
 12  Latitude         28 non-null      float64
 13  Longitude        28 non-null      float64
 14  Sender           123447 non-null  object
 15  Location         75334 non-null   object
dtypes: float64(10), int64(1), object(5)
memory usage: 15.2+ MB

Node ID is not the key in all four files. so we can't use it for merging.
Merge tweet.csv and agent.csv on 'Sender' / 'Node Label'
Node ID for hashtag.csv is the actual hashtag
Node ID for url.csv is the actual url

In [494]:
tweet['Node ID'].isin(agent['Node ID']).value_counts()

False    124678
Name: Node ID, dtype: int64

In [495]:
agent.rename(columns = {'Node Label' : 'Sender'}, inplace=True)

In [496]:
agent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78798 entries, 0 to 78797
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Node ID           78798 non-null  int64
 1   Language          76841 non-null  object
 2   NUMBER_FOLLOWERS  78644 non-null  float64
 3   Sender            78798 non-null  object
 4   IS_VERIFIED       78644 non-null  float64
 5   LOCATION          47245 non-null  object
 6   IS_NEWS_AGENCY    852 non-null    float64
 7   TWEET_COUNT       78798 non-null  int64
dtypes: float64(3), int64(2), object(3)
memory usage: 4.8+ MB

In [497]:
tweet_agent = pd.merge(tweet, agent, on=['Sender'])
tweet_agent.head(2)

,Node ID_x,DATE,IS_RETWEET,RETWEET_COUNT,MESSAGE,Language_x,conversation_id,HAS_URL,IS_REPLY,IS_IN_REPLY_TO,...,Longitude,Sender,Location,Node ID_y,Language_y,NUMBER_FOLLOWERS,IS_VERIFIED,LOCATION,IS_NEWS_AGENCY,TWEET_COUNT
0,1635792903053221889,2023-03-14 23:59:54-04,1.0,51.0,RT @NBCNews: BREAKING: Ohio's attorney general...,en,1.635793e+18,NaN,NaN,NaN,...,NaN,ricardonotes,USA,2608799046,en,463.0,0.0,USA,NaN,4
1,1633986183876280321,2023-03-10 00:20:38-05,1.0,8.0,RT @NBCNightlyNews: NOW: The CEO of Norfolk So...,en,1.633986e+18,NaN,NaN,NaN,...,NaN,ricardonotes,USA,2608799046,en,463.0,0.0,USA,NaN,4

In [498]:
print(len(tweet))
print(len(agent))

124678
78798

In [499]:
124678 + 78798

203476

In [500]:
len(tweet_agent)

123447

In [501]:
tweet_agent[['Date', 'Time']] = tweet_agent['DATE'].str.split(' ', 1, expand=True)
tweet_agent.head(2)

C:\Users\mahru\AppData\Local\Temp\ipykernel_23784\2099114423.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  tweet_agent[['Date', 'Time']] = tweet_agent['DATE'].str.split(' ', 1, expand=True)

,Node ID_x,DATE,IS_RETWEET,RETWEET_COUNT,MESSAGE,Language_x,conversation_id,HAS_URL,IS_REPLY,IS_IN_REPLY_TO,...,Location,Node ID_y,Language_y,NUMBER_FOLLOWERS,IS_VERIFIED,LOCATION,IS_NEWS_AGENCY,TWEET_COUNT,Date,Time
0,1635792903053221889,2023-03-14 23:59:54-04,1.0,51.0,RT @NBCNews: BREAKING: Ohio's attorney general...,en,1.635793e+18,NaN,NaN,NaN,...,USA,2608799046,en,463.0,0.0,USA,NaN,4,2023-03-14,23:59:54-04
1,1633986183876280321,2023-03-10 00:20:38-05,1.0,8.0,RT @NBCNightlyNews: NOW: The CEO of Norfolk So...,en,1.633986e+18,NaN,NaN,NaN,...,USA,2608799046,en,463.0,0.0,USA,NaN,4,2023-03-10,00:20:38-05

In [502]:
tweet_agent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123447 entries, 0 to 123446
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Node ID_x         123447 non-null  int64
 1   DATE              123447 non-null  object
 2   IS_RETWEET        100517 non-null  float64
 3   RETWEET_COUNT     107678 non-null  float64
 4   MESSAGE           123447 non-null  object
 5   Language_x        123447 non-null  object
 6   conversation_id   123447 non-null  float64
 7   HAS_URL           32951 non-null   float64
 8   IS_REPLY          4296 non-null    float64
 9   IS_IN_REPLY_TO    2682 non-null    float64
 10  IS_QUOTE          813 non-null     float64
 11  IS_GEOTAGGED      28 non-null      float64
 12  Latitude          28 non-null      float64
 13  Longitude         28 non-null      float64
 14  Sender            123447 non-null  object
 15  Location          75334 non-null   object
 16  Node ID_y         123447 non-null  int64
 17  Language_y        123447 non-null  object
 18  NUMBER_FOLLOWERS  123447 non-null  float64
 19  IS_VERIFIED       123447 non-null  float64
 20  LOCATION          75334 non-null   object
 21  IS_NEWS_AGENCY    2865 non-null    float64
 22  TWEET_COUNT       123447 non-null  int64
 23  Date              123447 non-null  object
 24  Time              123447 non-null  object
dtypes: float64(13), int64(3), object(9)
memory usage: 24.5+ MB

In [503]:
#count if language_x != language_y


#tweet_agent.query('Language_x != Language_y')

#language in tweet.csv and agent.csv is not the same for some cases. let's keep the language column in tweet.csv since that might be for the tweet itself

#language has the same count in both files, keeping the one in tweet.csv

In [504]:
tweet_agent.drop(columns=['Language_y','Location','DATE'], inplace = True)

In [505]:
tweet_agent.rename(columns={'Node ID_x' : 'TWEET_ID', 
                            'Node ID_y' : 'AGENT_ID', 
                            'Language_x' : 'LANGUAGE',
                            'conversation_id' : 'CONVERSATION_ID',
                            'Latitude' : 'LATITUDE',
                            'Longitude' : 'LONGITUDE',
                            'Sender' : 'SENDER',
                            'Date' : 'DATE',
                            'Time' : 'TIME'
                            }, inplace=True)

In [506]:
tweet_agent['IS_RETWEET'] = tweet_agent['IS_RETWEET'].fillna(0)
tweet_agent['HAS_URL'] = tweet_agent['HAS_URL'].fillna(0)
tweet_agent['IS_REPLY'] = tweet_agent['IS_REPLY'].fillna(0)
tweet_agent['IS_IN_REPLY_TO'] = tweet_agent['IS_IN_REPLY_TO'].fillna(0)
tweet_agent['IS_QUOTE'] = tweet_agent['IS_QUOTE'].fillna(0)
tweet_agent['IS_GEOTAGGED'] = tweet_agent['IS_GEOTAGGED'].fillna(0)
tweet_agent['IS_NEWS_AGENCY'] = tweet_agent['IS_NEWS_AGENCY'].fillna(0)

In [507]:
tweet_agent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123447 entries, 0 to 123446
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   TWEET_ID          123447 non-null  int64
 1   IS_RETWEET        123447 non-null  float64
 2   RETWEET_COUNT     107678 non-null  float64
 3   MESSAGE           123447 non-null  object
 4   LANGUAGE          123447 non-null  object
 5   CONVERSATION_ID   123447 non-null  float64
 6   HAS_URL           123447 non-null  float64
 7   IS_REPLY          123447 non-null  float64
 8   IS_IN_REPLY_TO    123447 non-null  float64
 9   IS_QUOTE          123447 non-null  float64
 10  IS_GEOTAGGED      123447 non-null  float64
 11  LATITUDE          28 non-null      float64
 12  LONGITUDE         28 non-null      float64
 13  SENDER            123447 non-null  object
 14  AGENT_ID          123447 non-null  int64
 15  NUMBER_FOLLOWERS  123447 non-null  float64
 16  IS_VERIFIED       123447 non-null  float64
 17  LOCATION          75334 non-null   object
 18  IS_NEWS_AGENCY    123447 non-null  float64
 19  TWEET_COUNT       123447 non-null  int64
 20  DATE              123447 non-null  object
 21  TIME              123447 non-null  object
dtypes: float64(13), int64(3), object(6)
memory usage: 21.7+ MB

In [508]:
tweet_agent.columns

Index(['TWEET_ID', 'IS_RETWEET', 'RETWEET_COUNT', 'MESSAGE', 'LANGUAGE',
       'CONVERSATION_ID', 'HAS_URL', 'IS_REPLY', 'IS_IN_REPLY_TO', 'IS_QUOTE',
       'IS_GEOTAGGED', 'LATITUDE', 'LONGITUDE', 'SENDER', 'AGENT_ID',
       'NUMBER_FOLLOWERS', 'IS_VERIFIED', 'LOCATION', 'IS_NEWS_AGENCY',
       'TWEET_COUNT', 'DATE', 'TIME'],
      dtype='object')

In [509]:
tweets_data = tweet_agent[tweet_agent.columns.difference(['CONVERSATION_ID','IS_GEOTAGGED','LATITUDE','LONGITUDE','AGENT_ID'])]

In [510]:
tweets_data.columns

Index(['DATE', 'HAS_URL', 'IS_IN_REPLY_TO', 'IS_NEWS_AGENCY', 'IS_QUOTE',
       'IS_REPLY', 'IS_RETWEET', 'IS_VERIFIED', 'LANGUAGE', 'LOCATION',
       'MESSAGE', 'NUMBER_FOLLOWERS', 'RETWEET_COUNT', 'SENDER', 'TIME',
       'TWEET_COUNT', 'TWEET_ID'],
      dtype='object')

In [511]:
tweets_data.head(2)

,DATE,HAS_URL,IS_IN_REPLY_TO,IS_NEWS_AGENCY,IS_QUOTE,IS_REPLY,IS_RETWEET,IS_VERIFIED,LANGUAGE,LOCATION,MESSAGE,NUMBER_FOLLOWERS,RETWEET_COUNT,SENDER,TIME,TWEET_COUNT,TWEET_ID
0,2023-03-14,0.0,0.0,0.0,0.0,0.0,1.0,0.0,en,USA,RT @NBCNews: BREAKING: Ohio's attorney general...,463.0,51.0,ricardonotes,23:59:54-04,4,1635792903053221889
1,2023-03-10,0.0,0.0,0.0,0.0,0.0,1.0,0.0,en,USA,RT @NBCNightlyNews: NOW: The CEO of Norfolk So...,463.0,8.0,ricardonotes,00:20:38-05,4,1633986183876280321

In [512]:
tweets_data.IS_NEWS_AGENCY.value_counts()

0.0    120582
1.0      2865
Name: IS_NEWS_AGENCY, dtype: int64

In [513]:
tweets_data.IS_VERIFIED.value_counts()

0.0    118112
1.0      5335
Name: IS_VERIFIED, dtype: int64

In [514]:
#unique verified accounts
verified_accounts_list = list(tweets_data[tweets_data['IS_VERIFIED'] == 1]['SENDER'].unique())

len(verified_accounts_list)

2140

In [515]:
verified_accounts = tweets_data.loc[tweets_data['IS_VERIFIED'] == 1]['SENDER']
verified_accounts = verified_accounts.drop_duplicates()

In [516]:
len(verified_accounts)

2140

In [517]:
#df of unique news agency in dataset 3
news_accounts = tweets_data.loc[tweets_data['IS_NEWS_AGENCY'] == 1]['SENDER']
news_accounts = news_accounts.drop_duplicates()

#list of unique news agency accounts in dataset 3
news_accounts_list = list(tweets_data[tweets_data['IS_NEWS_AGENCY'] == 1]['SENDER'].unique())

len(news_accounts_list)

789

add labels of government accounts from dataset1

In [518]:
#news_accounts.to_csv('news_accounts.csv', index=False)

In [519]:
#government account tags from dataset1
govt_accounts = pd.read_csv('dataset1/govt_accounts.csv')
# govt_accounts_list = list(govt_accounts.politics_accounts.values)
# govt_accounts_list
govt_accounts.columns
govt_accounts.rename(columns={'politics_accounts':'SENDER'},inplace=True)
govt_accounts['politics_accounts'] = 1
govt_accounts.columns

Index(['SENDER', 'politics_accounts'], dtype='object')

In [520]:
#tweet_agent['que'] = np.where((tweet_agent['one'] >= tweet_agent['two'])), tweet_agent['one'], np.nan)

In [521]:
len(tweets_data)

123447

In [522]:
tweets_data = pd.merge(tweets_data, govt_accounts, on=['SENDER'],how='left')
len(tweets_data)

123447

In [523]:
tweets_data['politics_accounts']=tweets_data['politics_accounts'].fillna(0)
tweets_data['politics_accounts']=tweets_data['politics_accounts'].astype(int)
tweets_data['politics_accounts'].value_counts()

0    123296
1       151
Name: politics_accounts, dtype: int64

In [524]:
# tweets[tweets['govt_account']==1]

add labels of news accounts from dataset1

In [525]:
#government account tags from dataset1
news_accounts = pd.read_csv('dataset1/news_accounts.csv')
# news_accounts_list = list(news_accounts.politics_accounts.values)
# news_accounts_list
news_accounts.columns
news_accounts.rename(columns={'news_accounts':'SENDER'},inplace=True)
news_accounts['news_acc'] = 1
news_accounts.columns

Index(['SENDER', 'news_acc'], dtype='object')

In [526]:
len(news_accounts)

906

In [527]:
len(tweets_data)

123447

In [528]:
tweets_data = pd.merge(tweets_data, news_accounts, on=['SENDER'],how='left')
len(tweets_data)

123447

In [529]:
tweets_data['news_acc'].value_counts()

1.0    2483
Name: news_acc, dtype: int64

In [530]:
tweets_data.IS_NEWS_AGENCY.value_counts()

0.0    120582
1.0      2865
Name: IS_NEWS_AGENCY, dtype: int64

In [531]:
tweets_data.head(2)

,DATE,HAS_URL,IS_IN_REPLY_TO,IS_NEWS_AGENCY,IS_QUOTE,IS_REPLY,IS_RETWEET,IS_VERIFIED,LANGUAGE,LOCATION,MESSAGE,NUMBER_FOLLOWERS,RETWEET_COUNT,SENDER,TIME,TWEET_COUNT,TWEET_ID,politics_accounts,news_acc
0,2023-03-14,0.0,0.0,0.0,0.0,0.0,1.0,0.0,en,USA,RT @NBCNews: BREAKING: Ohio's attorney general...,463.0,51.0,ricardonotes,23:59:54-04,4,1635792903053221889,0,NaN
1,2023-03-10,0.0,0.0,0.0,0.0,0.0,1.0,0.0,en,USA,RT @NBCNightlyNews: NOW: The CEO of Norfolk So...,463.0,8.0,ricardonotes,00:20:38-05,4,1633986183876280321,0,NaN

In [532]:
#news agency tags are now in two columns. one from this dataset and one from dataset1. merge the two so there's just one column for news agency label.
import numpy as np
tweets_data['news_accounts'] = np.where((tweets_data['IS_NEWS_AGENCY']==1) | (tweets_data['news_acc'] ==1),1, 0)

add labels of activists accounts from dataset1

In [533]:
#government account tags from dataset1
activists_accounts = pd.read_csv('dataset1/activists_accounts.csv')
# activist_accounts_list = list(activist_accounts.politics_accounts.values)
# activist_accounts_list
activists_accounts.columns
activists_accounts.rename(columns={'activists_accounts':'SENDER'},inplace=True)
activists_accounts['activists_accounts'] = 1
activists_accounts.columns

Index(['SENDER', 'activists_accounts'], dtype='object')

In [534]:
len(activists_accounts)

10

In [535]:
tweets_data = pd.merge(tweets_data, activists_accounts, on=['SENDER'],how='left')
len(tweets_data)

123447

In [536]:
tweets_data['activists_accounts']=tweets_data['activists_accounts'].fillna(0)
tweets_data['activists_accounts']=tweets_data['activists_accounts'].astype(int)
tweets_data['activists_accounts'].value_counts()

0    123414
1        33
Name: activists_accounts, dtype: int64

In [537]:
tweets_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123447 entries, 0 to 123446
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   DATE                123447 non-null  object
 1   HAS_URL             123447 non-null  float64
 2   IS_IN_REPLY_TO      123447 non-null  float64
 3   IS_NEWS_AGENCY      123447 non-null  float64
 4   IS_QUOTE            123447 non-null  float64
 5   IS_REPLY            123447 non-null  float64
 6   IS_RETWEET          123447 non-null  float64
 7   IS_VERIFIED         123447 non-null  float64
 8   LANGUAGE            123447 non-null  object
 9   LOCATION            75334 non-null   object
 10  MESSAGE             123447 non-null  object
 11  NUMBER_FOLLOWERS    123447 non-null  float64
 12  RETWEET_COUNT       107678 non-null  float64
 13  SENDER              123447 non-null  object
 14  TIME                123447 non-null  object
 15  TWEET_COUNT         123447 non-null  int64
 16  TWEET_ID            123447 non-null  int64
 17  politics_accounts   123447 non-null  int32
 18  news_acc            2483 non-null    float64
 19  news_accounts       123447 non-null  int32
 20  activists_accounts  123447 non-null  int32
dtypes: float64(10), int32(3), int64(2), object(6)
memory usage: 19.3+ MB

In [538]:
tweets_data.politics_accounts.value_counts()

0    123296
1       151
Name: politics_accounts, dtype: int64

In [539]:
tweets_data.news_accounts.value_counts()

0    120167
1      3280
Name: news_accounts, dtype: int64

In [540]:
tweets_data.activists_accounts.value_counts()

0    123414
1        33
Name: activists_accounts, dtype: int64

add a public category = 1 if the twitter account is neither political nor news

In [541]:
tweets_data['public_accounts'] = np.where((tweets_data['politics_accounts']==1) | (tweets_data['news_accounts'] ==1),0, 1)

In [543]:
tweets_data.public_accounts.value_counts()

1    120021
0      3426
Name: public_accounts, dtype: int64

In [544]:
#check
#tweets_data.loc[tweets_data['public']==0,['politics_accounts','news_accounts','public']]

In [546]:
#there are 5 accounts that are both political and news
tweets_data.loc[(tweets_data['politics_accounts']==1) & (tweets_data['news_accounts']==1),['politics_accounts','news_accounts','public_accounts']]

        politics_accounts  news_accounts  public_accounts
66409                   1              1                0
66410                   1              1                0
110335                  1              1                0
110336                  1              1                0
110337                  1              1                0

In [548]:
tweets_data.drop(columns=['news_acc'],inplace=True)

In [549]:
tweets_data.head()

,DATE,HAS_URL,IS_IN_REPLY_TO,IS_NEWS_AGENCY,IS_QUOTE,IS_REPLY,IS_RETWEET,IS_VERIFIED,LANGUAGE,LOCATION,...,NUMBER_FOLLOWERS,RETWEET_COUNT,SENDER,TIME,TWEET_COUNT,TWEET_ID,politics_accounts,news_accounts,activists_accounts,public_accounts
0,2023-03-14,0.0,0.0,0.0,0.0,0.0,1.0,0.0,en,USA,...,463.0,51.0,ricardonotes,23:59:54-04,4,1635792903053221889,0,0,0,1
1,2023-03-10,0.0,0.0,0.0,0.0,0.0,1.0,0.0,en,USA,...,463.0,8.0,ricardonotes,00:20:38-05,4,1633986183876280321,0,0,0,1
2,2023-03-07,0.0,0.0,0.0,0.0,0.0,1.0,0.0,en,USA,...,463.0,14.0,ricardonotes,00:31:18-05,4,1632901704155799552,0,0,0,1
3,2023-02-26,0.0,0.0,0.0,0.0,0.0,1.0,0.0,en,USA,...,463.0,10.0,ricardonotes,04:57:36-05,4,1629707229736718336,0,0,0,1
4,2023-03-14,1.0,0.0,1.0,0.0,0.0,0.0,1.0,en,"New York, NY",...,9424476.0,51.0,NBCNews,19:55:44-04,18,1635731458026340360,0,1,0,0

In [550]:
tweets_data.to_csv('dataset3_cleaned.csv', index=False)